<%- include('header', { title: 'Change Password' }); %>
<%- include('nav_bar', { id: 'profile' }); %>
    <!-- Page Content -->
    <div class="d-flex justify-content-between container-fluid">
        <div class="d-flex justify-content-center align-items-center">
            <img src=" ./imgs/pw2.jpg" class="img-responsive fit-image second"> </div>
        <div class="container-fluid">

            <div class="row no-gutter d-flex justify-content-center align-items-center">
                <div class="container ch_pw d-flex justify-content-center align-items-center">
                    <div class="" id="pw_dialog" style="width: 75%;">
                        <h3 class="pw-heading mb-4">Change Your Password</h3>
                        <form id="pw_form">
                            <div class="form-label-group">
                                <input type="text" id="old_pw" class="form-control" placeholder="old password" required
                                    autofocus>
                                <label for="old_pw">Old Password</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="new_pw" class="form-control" placeholder="New Password"
                                    required>
                                <label for="new_pw">New Password</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="con_new_pw" class="form-control"
                                    placeholder="Confirm New Password" required>
                                <label for="con_new_pw">Confirm New Password</label>
                            </div>

                            <button class="btn btn-lg btn-primary btn-block btn-pw text-uppercase font-weight-bold mb-2"
                                type="submit" id="save_changes">Save Changes</button>
                            <button class="btn btn-lg btn-danger btn-block btn-pw text-uppercase font-weight-bold mb-2"
                                type="reset" id="discard">Discard</button>

                            <div class="alert alert-danger fade show" style="display: none;" id="pw_error">
                                <h4 class="alert-heading">Please check fields again!</h4> <span
                                    id="pw_error_message"></span>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <%- include('footer', { javascript_uri: '/javascripts/change_pw.js' }); %>